
<table border="0" cellspacing="0" cellpadding="0" class="toc">
  <tbody>
    <tr>
      <td>
        <h1 style="margin-left: 0; padding-left: 0;">Inhalt</h1>
      </td>
    </tr>
<% book.chapters.each do |ch| %>
<%= ch.to_toc_tr %>
<% end %>
    <tr>
      <td class='title mainmatter'>
        <p>Inhaltsverzeichnis</p>
        <%= book.verseindex_as_ul %>
      </td>
    </tr>
  </tbody>
</table>

